<%- include('partials/head') %>


<canvas id="bgCanvas">

</canvas>

<div class="landing">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Sky</h1>
    <p class="lead">Track the weather in your city.</p>
    <form class="" action="/" method="post">
      <button type="submit" class="btn btn-lg btn-light">Get started</button>
    </form>
  </div>
</div>





<%- include('partials/scripts') %>
